* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

h1,h2,h3,h4,h5,h6,ul,li,ol,p{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

.outer-nav {
	background-color: transparent;
	position: fixed;
  top: 0;
	right: 0;
	left: 0;
  z-index: 1;
}
.outer-nav.fixedHeader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
  color: #010021;
	background-color: #fff;
  border-bottom: 1px solid #c6c1c1f7;
	z-index: 1;
	transition: all 0.5s linear;
	animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.nav>.nav-header {
  display: inline;
}
.nav-title a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.nav-title a img {
  width: 100%;
  max-width: 50px;
}
.outer-nav.fixedHeader .nav > .nav-header > .nav-title{
  color: #010021;
}
.nav>.nav-btn {
  display: none;
}

.nav>.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}

.nav-links li {
  padding: 0 15px;
  list-style: none;
}

.nav-links li a {
  display: inline-block;
  color: #fff;
  margin: 0 10px;
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}
.nav-links li a:hover {
  color: #127aff !important;
}

.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.outer-nav.fixedHeader .nav-links li a{
  color: #010021;
}
.nav>#nav-check {
  display: none;
}
.dropdown-services {
  position: relative;
}
.services-menu {
  width: 250px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.5s all ease;
  box-shadow: 0px 1px 5px 2px rgb(65 64 64 / 44%);
  padding: 10px 10px;
  animation: fadeIn .3s linear none;
  border-radius: 2px;
  display: none;
  box-sizing: border-box;
}

.main-menu {
  display: block;
  padding: 0;
}
.main-menu li {
  list-style: none;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.main-menu li a {
  text-decoration: none;
  color: #333;
  font-family: Finlandica, sans-serif;
  padding: 0;
  border-bottom: 0px;
}
.nav-links .dropdown-services:hover .services-menu {
  display: block;
  z-index: 9999999;
  background: #fffffff0;
  animation-name: slide-bottom;
  top: 45px;
}
.Courses-menu {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.5s all ease;
  box-shadow: 0px 1px 5px 2px rgb(65 64 64 / 44%);
  padding: 10px 10px;
  animation: fadeIn .3s linear none;
  border-radius: 2px;
  display: none;
  box-sizing: border-box;
}

.main-Courses {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
.main-Courses li {
  list-style: none;
  padding: 10px 0px;
  box-sizing: border-box;
  width: 24%;
}
.main-Courses li a {
  text-decoration: none;
  color: #127aff;
  font-family: Finlandica, sans-serif;
  padding: 0;
  border-bottom: 0px;
  font-size: 16px;
  text-align: inherit;
  font-weight: 600;
  margin: 0;
}
.nav-links .dropdown-Courses:hover .Courses-menu {
  display: block;
  z-index: 9999999;
  background: #fffffff0;
  animation-name: slide-bottom;
  top: 55px;
}
.Courses-items {
  padding: 0;
  border-top: 1px solid #333;
  margin: 6px 0;
  width: 100%;
}
.Courses-items li {
  padding: 10px 0;
  list-style: inside;
  width: 100%;
  margin: 0;
}
.Courses-items li a {
  text-decoration: none;
  color: #333;
  font-family: Finlandica, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.inner-banner img {
	width: 100%;
}
.banner-top {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
  background-image: url(../img/banner/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-title {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  text-align: center;
}
.banner-title h1 {
	color: #fff;
	font-size: 55px;
	font-weight: 400;
}
.banner-description p {
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
}
.logo-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 0;
}
.logo-wrap a {
	display: block;
	text-decoration: none;
	color: #3c3c3c;
	font-size: 20px;
	font-weight: 500;
}
.logo-wrap a:hover{
  color: #127aff;
}
.info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 60px 0;
}
.info-title {
	width: 30%;
}
.info-title h2 {
  font-size: 56px;
  font-weight: normal;
}
.info-detail {
	width: 70%;
}
.info-detail p {
  font-size: 22px;
  line-height: 1.6;
}
.cat-section {
  width: 100%;
  background-image: url(../img/banner/service-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.inner-cat{
  text-align: center;
  padding: 10px;
}
.inner-cat h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  padding: 20px;
}
.cat-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
}
.cat-box.exp-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px 0;
}
.cat-card {
  text-align: left;
  width: 32%;
  margin: 20px 0;
  cursor: pointer;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #2c267a57;
  box-shadow: 0px 1px 4px 3px #2c267a57;
}
.cat-box.exp-wrap .cat-card {
  text-align: left;
  width: 48%;
  margin: 20px 0;
  cursor: pointer;
  padding: 20px;
  border-radius: inherit;
  border: inherit;
  box-shadow: inherit;
}
.cat-card .cat-logo {
  color: #fff;
  text-decoration: none;
  display: block;
  padding-bottom: 10px;
}
.cat-card .cat-logo img {
  width: 35px;
}
.cat-card h3 {
  color: #fff;
  font-size: 24px;
}
.cat-card p {
  color: #fff;
  padding: 15px 0;
  line-height: 1.5;
  font-size: 16px;
}
.cat-card .cat-btn {
  font-size: 16px;
  color: #ff415c;
  text-decoration: none;
  display: inline-block;
}
.cat-card .cat-btn:hover{
  text-decoration: underline;
}
.cat-card:hover {
  background: linear-gradient(90deg, rgb(2 0 36 / 33%) 0%, rgb(121 9 9 / 21%) 65%, rgb(122 13 7 / 19%) 100%);
}
.proud-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}
.proud-title {
  width: 60%;
  padding: 0 70px 0 0;
  box-sizing: border-box;
}
.proud-description {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.achievement-wrap {
  width: 30%;
}
.achievement-wrap .achievement-title {
  font-size: 50px;
  font-weight: 500;
}
.achievement-wrap .achievement-desc {
  font-size: 16px;
  font-weight: 500;
}
.proud-title h2 {
  font-size: 46px;
  font-weight: 400;
}
.check-out-wrap {
  width: 100%;
  padding: 50px 0;
  background-color: #f7f9fe;
}
.check-out-inner {
  width: 100%;
  display: flex;
  align-items: center;
}
.check-out-title {
  width: 60%;
}
.check-out-title h3 {
  font-size: 40px;
  font-weight: 400;
}
.check-out-link {
  width: 40%;
}
.check-out-link a {
  display: block;
  text-decoration: none;
  color: #ff415c;
  font-size: 18px;
  font-weight: 600;
}
.check-out-link a:hover{
  text-decoration: underline;
}
.certificate-wrap {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}
.certificate-img {
  width: 20%;
  text-align: center;
}
.certificate-img img{
  width: 50%;
}
.certificate-wrap .slick-next {
  background-image: url(../img/icons/right-arrow.png) !important;
  background-repeat: no-repeat !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 30px !important;
}
.certificate-wrap .slick-prev {
  background-image: url(../img/icons/left-arrow.png) !important;
  background-repeat: no-repeat !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 30px !important;
}
.certificate-wrap .slick-prev:before {
  content: '';
}
.certificate-wrap .slick-next:before {
  content: '';
}
.comment-wrap {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  align-items: flex-start;
}
.comment-icon {
  width: 6%;
  display: inline-block;
}
.comment-desc {
  width: 63%;
  display: inline-block;
}
.comment-title {
  width: 30%;
  padding: 0 0px 0 30px;
  display: inline-block;
}

.comment-desc p {
  font-size: 20px;
  padding: 5px 0;
}
.comment-title img {
  width: 50px;
}
.comment-auther {
  font-size: 18px;
  font-weight: 500;
}
.comment-outer {
  width: 100%;
  padding: 20px 0;
  margin: 30px 0;
}
.comment-outer .slick-next {
  background-image: url(../img/icons/right-arrow.png) !important;
  background-repeat: no-repeat !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 30px !important;
  top: 210px;
  left: 120px;
}
.comment-outer .slick-prev {
  background-image: url(../img/icons/left-arrow.png) !important;
  background-repeat: no-repeat !important;
  width: 30px !important;
  height: 30px !important;
  background-size: 30px !important;
  top: 210px;
  left: 80px;
}
.comment-outer .slick-prev:before {
  content: '';
}
.comment-outer .slick-next:before {
  content: '';
}
.card-case-outer {
  margin: 40px 0;
  overflow: hidden;
}
.card-case-outer-2 {
  margin: 40px 0;
  overflow: hidden;
}
.card-case-outer-3 {
  margin: 40px 0;
  overflow: hidden;
}
.card-case-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  background-color: #a6172d;
  cursor: pointer;
}
.card-case-wrap:hover{
  background: rgb(40,94,125);
  background: linear-gradient(90deg, rgba(40,94,125,1) 0%, rgba(117,36,72,1) 50%, rgba(6,38,77,1) 100%);
}
.card-case-wrap-2{
  background-color: #0d2958;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  cursor: pointer;
}
.card-case-wrap-2:hover{
  background: rgb(40,94,125);
  background: linear-gradient(90deg, rgba(40,94,125,1) 0%, rgba(117,36,72,1) 50%, rgba(6,38,77,1) 100%);
}
.card-case-wrap-3{
  background-color: #7617a6;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  cursor: pointer;
}
.card-case-wrap-3:hover{
  background: rgb(40,94,125);
  background: linear-gradient(90deg, rgba(40,94,125,1) 0%, rgba(117,36,72,1) 50%, rgba(6,38,77,1) 100%);
}
.card-case-content {
  padding: 40px;
}
.card-case-logo {
  font-size: 22px;
  color: #fff;
}
.card-case-title {
  padding: 10px 0;
}
.card-case-title h3 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 500;
  color: #fff;
}
.card-case-desc p {
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}
.card-case-technology {
  margin: 20px 0 0 0;
  width: 300px;
}
.card-case-technology-item {
  display: inline-block;
  text-decoration: none;
  background-color: #aba8a840;
  padding: 5px 15px;
  color: #fff;
  margin-bottom: 5px;
}
.card-case-image a {
  display: flex;
}
.card-case-image.hoverclass {
  animation: slide-br 0.8s ease-in-out 0.2 both;
  transition: 0.5s all ease-in-out;
}
.card-case-image-2 a {
  display: flex;
}
.card-case-image-2.hoverclass {
  animation: slide-bl 0.8s ease-in-out 0.2 both;
  transition: 0.5s all ease-in-out;
}
.card-case-image-3 a {
  display: flex;
}
.card-case-image-3.hoverclass {
  animation: slide-br 0.8s ease-in-out 0.2 both;
  transition: 0.5s all ease-in-out;
}
.technical-outer h2 {
  color: #000;
  font-size: 40px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}
.technical-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.technical-card {
  width: 45%;
  padding: 20px;
}
.technical-card:hover{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgb(12 143 138 / 11%) 0%, rgb(223 17 17 / 18%) 65%, rgb(187 27 18 / 14%) 100%);
}
.technical-title h3 {
  font-size: 24px;
}
.technical-desc p {
  padding: 15px 0;
  line-height: 1.5;
  font-size: 16px;
}
.technical-link a {
  font-size: 16px;
  font-weight: 500;
  color: #ff415c;
  text-decoration: none;
  display: inline-block;
}
.technical-link a:hover{
  text-decoration: underline;
}
.footer {
  margin: 40px 0 0 0;
  background-image:url(../img/banner/service-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.footer-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}
.footer-col {
  width: 20%;
}
.footer-col a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.footer-col a img {
  width: 100%;
  max-width: 80px;
}
.footer-col h3{
  color: #fff;
}
.footer-col ul {
  padding: 15px 0;
}
.footer-col ul li {
  padding: 5px;
}
.footer-col ul li p{
  color: #fff;
}
.footer-col ul li a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}


.banner-proud .proud-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-proud .achievement-wrap {
  width: 20%;
}
.banner-proud {
  margin-top: 50px;
}
.banner-proud .achievement-wrap .achievement-title {
  font-size: 50px;
  font-weight: 500;
  color: #fff;
}
.banner-proud .achievement-wrap .achievement-desc {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}
.about-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.about-title {
  width: 60%;
}
.about-title h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 10px;
}
.about-title p {
  font-size: 20px;
  line-height: 32px;
  padding-bottom: 10px;
}
.about-image img {
  width: 390px;
  height: 350px;
}
.about-inner {
  position: relative;
}
.adout-card {
  width: 350px;
  background-color: #3b3bcffa;
  padding: 20px;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 250px;
}
.adout-card h3 {
  font-size: 24px;
  padding-bottom: 10px;
  color: #fff;
}
.adout-card p {
  font-size: 18px;
  font-weight: 400;
  padding: 0 40px;
  color: #fff;
}
.client-wrap {
  text-align: center;
  padding: 20px 0;
}
.client-wrap h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 10px;
}
.team-wrap {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
.team-wrap h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 40px;
}
.team-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.team-card li {
  width: 20%;
}
.team-card li img {
  width: 100%;
  max-width: 200px;
}
.team-title {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0 5px 0;
}
.team-desc {
  font-size: 16px;
}
.process-wrap {
  padding: 50px 0;
}
.process-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.process-title {
  width: 40%;
  background-color: #f7f9fe;
  padding: 20px;
}
.process-title h2 {
  font-size: 44px;
  font-weight: 400;
  padding-bottom: 10px;
}
.process-title h2 span {
  display: block;
}
.process-title p {
  font-size: 22px;
  line-height: 32px;
  padding-top: 20px;
  letter-spacing: 0.3px;
}
.process-tabs {
  width: 60%;
  padding: 0 30px;
}
/* Tabs */
.tabs {
  width: 600px;
  border-radius: 5px 5px 5px 5px;
}
#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
#tabs-nav li {
  float: left;
  font-weight: bold;
  padding: 8px 10px;
  border-bottom: 2px solid #d5d5de;
  cursor: pointer;
}
#tabs-nav li.active {
  border-bottom: 2px solid #127aff;
}
#tabs-nav li a:hover{
  color: #127aff;
}
#tabs-nav li a {
  text-decoration: none;
  color: #899fb6;
  font-size: 28px;
  font-weight: 400;
}
.tab-content {
  padding: 10px;
  background-color: #FFF;
}
.tab-content p {
  font-size: 20px;
  padding-bottom: 20px;
}
.tab-item-points {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.tab-item-point {
  width: 40%;
  padding: 10px 0;
}
.tab-item-point a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  background-image: url(../img/icons/check-mark-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 23px;
  padding-left: 34px;
}
.tab-img {
  margin: 30px 0 0 0;
}
.tab-img img{
  width: 100%;
}
.way-wrap {
  background-color: #f7f9fe;
}
.way-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.way-card {
  width: 32%;
  padding: 20px 10px;
  margin-bottom: 10px;
}
.way-logo {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 10px;
}
.way-card h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}
.way-card p {
  font-size: 20px;
  font-weight: 400;
}
.way-title {
  padding: 20px 0;
  text-align: center;
}
.way-title h2 {
  font-size: 44px;
  font-weight: 500;
}
.way-logo img {
  width: 50px;
}







@keyframes slide-br {
0% {
    transform: translateY(0) translateX(0);
}
100% {
    transform: translateY(100px) translateX(100px);
}
}
@keyframes slide-top {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100px);
  }
}

@keyframes slide-bl {
  0% {
            transform: translateY(0) translateX(0);
  }
  100% {
            transform: translateY(100px) translateX(-100px);
  }
}







@media (max-width:600px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: transparent;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav-links li {
    padding: 15px 0;
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0px;
  }

  .nav>#nav-check:checked~.nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}